.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* my solution */

/* - 不用急着将所有元素的默认 padding 和 margin 消除，消除 ul 的就可以了。
    - 而且导航栏盒子应该有 padding，这比为 item 添加 margin 的实现要好一
    些吧。
    - 三样 item 的话，sapce-between 就可以让中间的 item 居中啦。可以不用
    auto margin 的。
*/

.right-links {
  margin-left: auto;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px;
  margin-left: auto;
}

ul {
  display: flex;
  gap: 10px;
  margin: 10px;
}