/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}

/* my solution */

/* 
   这种两分离的导航栏，把两边部分套个 div，用 space-between justify 即可。不用
   auto margin 分离是因为此法不好再为两个部分中的 item 统一设置样式，还是各自套
   一个盒子好，盒子里的样式设置可以相同，如此就仅用一个 rule 表达了。

   另外，涉及赋于像素 value 的情形中，具体采用 2 的幂比较好。这个例子中，两个不同类
   型的元素之间的空间为 16px，两个相同类型的元素的是 8px。
*/

.header {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
}

ul {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.notifications {
  margin-left: auto;
}